BOT_TOKEN=8992016830:AAHEbyodR73bMbW05eOxShJimo9AXVHcyPw

SOURCE_GROUP_ID=-1002510797113

SIGNAL_TOPIC_ID=1455


SPREADSHEET_ID=1J3_Go0MdiNaDxVl6EuA00hJMsamB35Gjq0eHEg96ZMw


ADMIN_USERNAME=ADMOnePercentsFX


RENEW_BOT=https://t.me/Intradayxauusd_bot


SIGNAL_TIMEZONE=Asia/Jakarta
