BOT_TOKEN=ISI_TOKEN_BOT

SOURCE_GROUP_ID=-100xxxxxxxxxx

SIGNAL_TOPIC_ID=123

PAYMENT_GROUP_ID=-100xxxxxxxxxx


SPREADSHEET_ID=ISI_ID_GOOGLE_SHEET


ADMIN_USERNAME=@AdminAnda


RENEW_BOT=https://t.me/Intradayxauusd_bot


SIGNAL_TIMEZONE=Asia/Jakarta
